<br>

<div class="animated fadeIn">

    <div class="col">
        <div class="card m-3">
            <div class="card-header">
                <b>Assign Role</b>
            </div>
            <div class="form-group m-3 col-5">
                <label for="userType">
                    <h5>Select User</h5>
                </label>
                <select data-placeholder="Select" class="form-control" id="userType">
                    <option value="1"> Danish </option>
                </select>
            </div>


            <div class="form-group m-3">
                <label class="col-md-2 control-label">General Settings</label>
                <div class="col-md-10">
                    <label class="switch switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider"></span>
                    </label>
                </div>
            </div>
            <div class="form-group m-3">
                <label class="col-md-2 control-label">Add User</label>
                <div class="col-md-10">
                    <label class="switch switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider"></span>
                    </label>
                </div>
            </div>
            <div class="form-group m-3">
                <label class="col-md-2 control-label">Edit User</label>
                <div class="col-md-10">
                    <label class="switch switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider"></span>
                    </label>
                </div>
            </div>
            <div class="form-group m-3">
                <label class="col-md-2 control-label">Add Network</label>
                <div class="col-md-10">
                    <label class="switch switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider"></span>
                    </label>
                </div>
            </div>
            <div class="form-group m-3">
                <label class="col-md-2 control-label">Edit Network</label>
                <div class="col-md-10">
                    <label class="switch switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider"></span>
                    </label>
                </div>
            </div>
            <div class="form-group m-3">
                <label class="col-md-2 control-label">Add Categories</label>
                <div class="col-md-10">
                    <label class="switch switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider"></span>
                    </label>
                </div>
            </div>
            <div class="form-group m-3">
                <label class="col-md-2 control-label">Edit Categories</label>
                <div class="col-md-10">
                    <label class="switch switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider"></span>
                    </label>
                </div>
            </div>
            <div class="form-group m-3">
                <label class="col-md-2 control-label">Add Stores</label>
                <div class="col-md-10">
                    <label class="switch switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider"></span>
                    </label>
                </div>
            </div>
            <div class="form-group m-3">
                <label class="col-md-2 control-label">Edit Stores</label>
                <div class="col-md-10">
                    <label class="switch switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider"></span>
                    </label>
                </div>
            </div>
            <div class="form-group m-3">
                <label class="col-md-2 control-label">Add Coupons</label>
                <div class="col-md-10">
                    <label class="switch switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider"></span>
                    </label>
                </div>
            </div>
            <div class="form-group m-3">
                <label class="col-md-2 control-label">Edit Coupons</label>
                <div class="col-md-10">
                    <label class="switch switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider"></span>
                    </label>
                </div>
            </div>
            <div class="form-group m-3">
                <label class="col-md-2 control-label">Add Deals</label>
                <div class="col-md-10">
                    <label class="switch switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider"></span>
                    </label>
                </div>
            </div>
            <div class="form-group m-3">
                <label class="col-md-2 control-label">Edit Deals</label>
                <div class="col-md-10">
                    <label class="switch switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider"></span>
                    </label>
                </div>
            </div>
            <div class="form-group m-3">
                <label class="col-md-2 control-label">Add Blog</label>
                <div class="col-md-10">
                    <label class="switch switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider"></span>
                    </label>
                </div>
            </div>
            <div class="form-group m-3">
                <label class="col-md-2 control-label">Edit Blog</label>
                <div class="col-md-10">
                    <label class="switch switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider"></span>
                    </label>
                </div>
            </div>

            <div class="form-group m-3">
                &nbsp;
                &nbsp;
                &nbsp;
                <button type="button" class="btn btn-dark">Save</button>
            </div>

        </div>



    </div>
</div>