<br>
<div class="animated fadeIn">
    <div class="alert alert-success alert-dismissible fade show col-8" *ngIf="responseSuccess" role="alert">
        {{responseSuccess}}
        <button type="button" class="close" (click)="closeSuccess()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show col-8" *ngIf="responseError" role="alert">
        {{responseError}}
        <button type="button" class="close" (click)="closeError()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <strong>Create Store</strong>
                </div>
                <div class="card-body">
                    <form #addStoreForm="ngForm" [hidden]="!categories" novalidate (ngSubmit)='addStore(storeInfo)'>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="name">Store Name</label>
                            <div class="col-md-9">
                                <input type="text" name="name" [(ngModel)]="storeInfo.name" class="form-control"
                                    required placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="heading">Heading*</label>
                            <div class="col-md-9">
                                <select name="heading" required [(ngModel)]="storeInfo.heading" class="form-control">
                                    <option value="Promo codes & Coupons">Promo codes & Coupons</option>
                                    <option value="Coupons & Promo codes">Coupons & Promo codes</option>
                                    <option value="Voucher & Discount codes">Voucher & Discount codes</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="categoryRef">Choose Categories</label>
                            <div class="col-md-9">
                                <ng-select [items]="categories" name="categoryRef" [multiple]="true"
                                    [closeOnSelect]="false" [searchable]="false" bindLabel="name" bindValue="_id"
                                    [hideSelected]="true" placeholder="Select Category"
                                    [(ngModel)]="storeInfo.categoryRef">
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="shortDes">Short Description</label>
                            <div class="col-md-9">
                                <app-ngx-editor [placeholder]="'Enter text here...'" required name="shortDes"
                                    [(ngModel)]="storeInfo.shortDes" minHeight="160px">
                                </app-ngx-editor>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="longDes">Long Description</label>
                            <div class="col-md-9">
                                <app-ngx-editor [placeholder]="'Enter text here...'" required name="longDes"
                                    [(ngModel)]="storeInfo.longDes" minHeight="160px">
                                </app-ngx-editor>
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <div class="input-group col-md-8">
                                <img [src]="croppedImage" class="marginAuto" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="imge">Image</label>
                            <div class="input-group col-md-8">
                                <div class="custom-file">
                                    <input type="file" name="imge" (change)="fileChangeEvent($event)" required
                                        [(ngModel)]="imgModel" class="custom-file-input" accept="image/x-png,image/jpeg"
                                        aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label"
                                        for="inputGroupFile01">{{htmlContent}}{{imgModel}}</label>
                                </div>
                            </div>
                        </div>
                        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                            [aspectRatio]="1/1" outputType="file" [resizeToWidth]="200" [resizeToHeight]="200"
                            format="jpeg" (imageCropped)="imageCropped($event)"></image-cropper>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="imgAlt">Image Alt</label>
                            <div class="col-md-9">
                                <input type="text" name="imgAlt" [(ngModel)]="storeInfo.imgAlt" class="form-control"
                                    required placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="directUrl">Direct URL</label>
                            <div class="col-md-9">
                                <input type="text" name="directUrl" [(ngModel)]="storeInfo.directUrl"
                                    class="form-control" required placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="trackUrl">Tracking URL</label>
                            <div class="col-md-9">
                                <input type="text" name="trackUrl" [(ngModel)]="storeInfo.trackUrl" class="form-control"
                                    required placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="metaTitle">Meta Title</label>
                            <div class="col-md-9">
                                <input type="text" name="metaTitle" [(ngModel)]="storeInfo.metaTitle"
                                    class="form-control" required placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="metaDes">Meta Description</label>
                            <div class="col-md-9">
                                <input type="text" name="metaDes" [(ngModel)]="storeInfo.metaDes" class="form-control"
                                    required placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="metaKeywords"><b>Meta Keywords</b>(comma
                                separated)</label>
                            <div class="col-md-9">
                                <input type="text" name="metaKeywords" [(ngModel)]="storeInfo.metaKeywords"
                                    class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="alert alert-dark" role="alert">
                            Useful Links
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="fb">Facebook</label>
                            <div class="col-md-9">
                                <input type="text" name="fb" [(ngModel)]="storeInfo.fb" class="form-control"
                                    placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="pin">Pinterest</label>
                            <div class="col-md-9">
                                <input type="text" name="pin" [(ngModel)]="storeInfo.pin" class="form-control"
                                    placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="wik">Wikipedia</label>
                            <div class="col-md-9">
                                <input type="text" name="wik" [(ngModel)]="storeInfo.wik" class="form-control"
                                    placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="twit">Twitter</label>
                            <div class="col-md-9">
                                <input type="text" name="twit" [(ngModel)]="storeInfo.twit" class="form-control"
                                    placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="gplus">Google Plus</label>
                            <div class="col-md-9">
                                <input type="text" name="gplus" [(ngModel)]="storeInfo.gplus" class="form-control"
                                    placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="android">Android App Link</label>
                            <div class="col-md-9">
                                <input type="text" name="android" [(ngModel)]="storeInfo.android" class="form-control"
                                    placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="ios">IOS App Link</label>
                            <div class="col-md-9">
                                <input type="text" name="ios" [(ngModel)]="storeInfo.ios" class="form-control"
                                    placeholder="...">
                            </div>
                        </div>
                        <div class="form-group m-3">
                            <label class="col-md-2 control-label">Top Store</label>
                            <div class="col-md-10">
                                <label class="switch switch-primary">
                                    <input type="checkbox" value=true name="topStore" [(ngModel)]="storeInfo.topStore"
                                        class="switch-input">
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group m-3">
                            <label class="col-md-2 control-label">Editor's Choice</label>
                            <div class="col-md-10">
                                <label class="switch switch-primary">
                                    <input type="checkbox" value=true name="editorChoice"
                                        [(ngModel)]="storeInfo.editorChoice" class="switch-input">
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group m-3">
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <button type="submit" class="btn btn-dark"
                                [disabled]="!addStoreForm.form.valid || !storeInfo.categoryRef">
                                <span *ngIf="isBusy" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                &nbsp; Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>