<br>
<div class="animated fadeIn">
    <div class="alert alert-success alert-dismissible fade show col-8" *ngIf="responseSuccess" role="alert">
        {{responseSuccess}}
        <button type="button" class="close" (click)="closeSuccess()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show col-8" *ngIf="responseError" role="alert">
        {{responseError}}
        <button type="button" class="close" (click)="closeError()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <strong>Create Blog</strong>
                </div>
                <div class="card-body">
                    <form #addBlogForm="ngForm" novalidate (ngSubmit)='uploadImageFirst(blogInfo)'>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="title">Title</label>
                            <div class="col-md-9">
                                <input type="text" name="title" [(ngModel)]="blogInfo.title" class="form-control"
                                    required placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="shortDes">Short Description</label>
                            <div class="col-md-9">
                                <app-ngx-editor [placeholder]="'Enter text here...'" required name="shortDes"
                                    [(ngModel)]="blogInfo.shortDes" minHeight="160px">
                                </app-ngx-editor>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="longDes">Long Description</label>
                            <div class="col-md-9">
                                <app-ngx-editor [placeholder]="'Enter text here...'" required name="longDes"
                                    [(ngModel)]="blogInfo.longDes" minHeight="160px">
                                </app-ngx-editor>
                            </div>
                        </div>
                        <br>
                        <div class="form-group row text-center">
                            <div class="input-group col">
                                <img [src]="croppedImage" class="marginAuto" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="imge">Image</label>
                            <div class="input-group col-md-8">
                                <div class="custom-file">
                                    <input type="file" name="imge" (change)="fileChangeEvent($event)" required
                                        [(ngModel)]="imgModel" class="custom-file-input" accept="image/x-png,image/jpeg"
                                        aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label"
                                        for="inputGroupFile01">{{htmlContent}}{{imgModel}}</label>
                                </div>
                            </div>
                        </div>
                        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                            [aspectRatio]="2/1" outputType="file" format="jpeg" (imageCropped)="imageCropped($event)">
                        </image-cropper>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="imgAlt">Image Alt</label>
                            <div class="col-md-9">
                                <input type="text" name="imgAlt" [(ngModel)]="blogInfo.imgAlt" class="form-control"
                                    required placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="metaTitle">Meta Title</label>
                            <div class="col-md-9">
                                <input type="text" name="metaTitle" [(ngModel)]="blogInfo.metaTitle"
                                    class="form-control" required placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="metaDes">Meta Description</label>
                            <div class="col-md-9">
                                <input type="text" name="metaDes" [(ngModel)]="blogInfo.metaDes" class="form-control"
                                    required placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="metaKeywords">Meta Keywords</label>
                            <div class="col-md-9">
                                <input type="text" name="metaKeywords" [(ngModel)]="blogInfo.metaKeywords"
                                    class="form-control" required placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <br>
                            <label class="col-md-3 col-form-label" for="assignedStore">
                                Select Store
                            </label>
                            <div class="col-md-9">
                                <select class="form-control form-control-lg" [disabled]="!stores" name="assignedStore"
                                    [(ngModel)]="blogInfo.storeId" required>
                                    <option value=""></option>
                                    <option [value]="item.value._id" *ngFor="let item of stores | keyvalue">
                                        {{item.value.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-3">
                            <label class="col-md-2 control-label">Featured for Home</label>
                            <div class="col-md-10">
                                <label class="switch switch-primary">
                                    <input type="checkbox" value=true name="featuredForHome"
                                        [(ngModel)]="blogInfo.featuredForHome" class="switch-input">
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group m-3">
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <button type="submit" class="btn btn-dark" [disabled]="!addBlogForm.form.valid">
                                <span *ngIf="isBusy" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                &nbsp; Publish</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>