<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Store</h4>
                <button type="button" class="close" id="closebtn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure You want to delete this Store?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-dark" (click)="confirmDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center vertical-center" *ngIf="!dataLoaded">
    <div class="spinner-grow text-info spnbg" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<br>
<div class="alert alert-success alert-dismissible fade show col-8" *ngIf="responseSuccess" role="alert">
    {{responseSuccess}}
    <button type="button" class="close" (click)="closeSuccess()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger alert-dismissible fade show col-8" *ngIf="responseError" role="alert">
    {{responseError}}
    <button type="button" class="close" (click)="closeError()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div *ngIf="dataLoaded">
    <div class="row">
        <div class="form-group col-5">
            <select data-placeholder="Choose" [(ngModel)]="storeArrayModel"
                (change)="loadStoreDetails(storeArrayModel,$event)" class="form-control">
                <option [value]="data.value._id" *ngFor="let data of dataLoaded | keyvalue">
                    {{data.value.name}}
                </option>
            </select>
        </div>
        <div class="form-group col-5">
            <button type="button" class="btn btn-danger pull-right" (click)="showDltModal()"
                [disabled]="!storeInfo">Delete</button>
        </div>
    </div>
    <br>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <strong>Please select Store</strong>
                    </div>
                    <div class="card-body" *ngIf="storeInfo">
                        <form #editStoreForm="ngForm" novalidate (ngSubmit)='saveEditStoreToDB(storeInfo)'>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="name">Store Name</label>
                                <div class="col-md-9">
                                    <input type="text" name="name" [(ngModel)]="storeInfo.name" class="form-control"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="storeURL">Store URL</label>
                                <div class="col-md-9">
                                    <input type="text" name="storeURL" [(ngModel)]="storeInfo.storeURL"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="heading">Heading*</label>
                                <div class="col-md-9">
                                    <input type="text" name="heading" [(ngModel)]="storeInfo.heading"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="shortDes">Short Description</label>
                                <div class="col-md-9">
                                    <app-ngx-editor required name="shortDes" [(ngModel)]="storeInfo.shortDes"
                                        minHeight="160px" [spellcheck]="true">
                                    </app-ngx-editor>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="longDes">Long Description</label>
                                <div class="col-md-9">
                                    <app-ngx-editor required name="longDes" [(ngModel)]="storeInfo.longDes"
                                        minHeight="160px" [spellcheck]="true">
                                    </app-ngx-editor>
                                </div>
                            </div>
                            <br>
                            <div class="text-center">
                                <div class="form-group row">
                                    <div class="input-group col-md-6">
                                        <img [src]="storeInfo.img" />
                                    </div>
                                </div>
                                <br>
                                <div class="card col-md-6" *ngIf="croppedImage" style="width: 200px">
                                    <div class="form-group row">
                                        <div class="input-group">
                                            <img [src]="croppedImage" />
                                        </div>
                                    </div>
                                    <div class="card-body p-0 text-center">
                                        <button class="btn btn-danger" (click)="clearCroppedImage()">Clear</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="imge">Image</label>
                                <div class="input-group col-md-8">
                                    <div class="custom-file">
                                        <input type="file" name="imge" (change)="fileChangeEvent($event)"
                                            [(ngModel)]="imgModel" class="custom-file-input"
                                            accept="image/x-png,image/jpeg" aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label"
                                            for="inputGroupFile01">{{htmlContent}}{{imgModel}}</label>
                                    </div>
                                </div>
                            </div>
                            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                                [aspectRatio]="1/1" outputType="file" [resizeToWidth]="200" [resizeToHeight]="200"
                                format="jpeg" (imageCropped)="imageCropped($event)">
                            </image-cropper>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="imgAlt">Image Alt</label>
                                <div class="col-md-9">
                                    <input type="text" name="imgAlt" [(ngModel)]="storeInfo.imgAlt" class="form-control"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="directUrl">Direct URL</label>
                                <div class="col-md-9">
                                    <input type="text" name="directUrl" [(ngModel)]="storeInfo.directUrl"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="trackUrl">Tracking URL</label>
                                <div class="col-md-9">
                                    <input type="text" name="trackUrl" [(ngModel)]="storeInfo.trackUrl"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="metaTitle">Meta Title</label>
                                <div class="col-md-9">
                                    <input type="text" name="metaTitle" [(ngModel)]="storeInfo.metaTitle"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="metaDes">Meta Description</label>
                                <div class="col-md-9">
                                    <input type="text" name="metaDes" [(ngModel)]="storeInfo.metaDes"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="alert alert-dark" role="alert">
                                Useful Links
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="fb">Facebook</label>
                                <div class="col-md-9">
                                    <input type="text" name="fb" [(ngModel)]="storeInfo.fb" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="pin">Pinterest</label>
                                <div class="col-md-9">
                                    <input type="text" name="pin" [(ngModel)]="storeInfo.pin" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="wik">Wikipedia</label>
                                <div class="col-md-9">
                                    <input type="text" name="wik" [(ngModel)]="storeInfo.wik" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="twit">Twitter</label>
                                <div class="col-md-9">
                                    <input type="text" name="twit" [(ngModel)]="storeInfo.twit" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="gplus">Google Plus</label>
                                <div class="col-md-9">
                                    <input type="text" name="gplus" [(ngModel)]="storeInfo.gplus" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="android">Android App Link</label>
                                <div class="col-md-9">
                                    <input type="text" name="android" [(ngModel)]="storeInfo.android"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="ios">IOS App Link</label>
                                <div class="col-md-9">
                                    <input type="text" name="ios" [(ngModel)]="storeInfo.ios" class="form-control">
                                </div>
                            </div>
                            <div class="form-group m-3">
                                <label class="col-md-2 control-label">Top Store</label>
                                <div class="col-md-10">
                                    <label class="switch switch-primary">
                                        <input type="checkbox" value=true name="topStore"
                                            [(ngModel)]="storeInfo.topStore" class="switch-input">
                                        <span class="switch-slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group m-3">
                                <label class="col-md-2 control-label">Editor's Choice</label>
                                <div class="col-md-10">
                                    <label class="switch switch-primary">
                                        <input type="checkbox" value=true name="editorChoice"
                                            [(ngModel)]="storeInfo.editorChoice" class="switch-input">
                                        <span class="switch-slider"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group m-3">
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                <button type="submit" class="btn btn-dark"
                                    [disabled]="!editStoreForm.form.valid || !editStoreForm.dirty">Update Store</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>