<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Coupon</h4>
                <button type="button" class="close" id="closebtn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure You want to delete this Coupon?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-dark" (click)="deleteCoupon()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <span style="font-size:1.35em">Edit Category: {{editObject.name}}</span>
                </div>
                <button type="button" class="close" id="editbtn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <form #editCatForm="ngForm" novalidate (ngSubmit)='saveEditedCoupon()'>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="company">Name</label>
                        <input type="text" name="name" required [(ngModel)]="editObject.name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="company">Slug</label>
                        <input type="text" name="slug" required [(ngModel)]="editObject.slug" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="company">Meta Title</label>
                        <input type="text" name="MetaTitle" required [(ngModel)]="editObject.metaTitle"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="company">Meta Description</label>
                        <input class="form-control" name="MetaDescription" required type="text"
                            [(ngModel)]="editObject.metaDescription">
                    </div>
                    <div class="form-group">
                        <label for="company">Meta Keywords</label>
                        <input type="text" name="MetaKeywords" required class="form-control"
                            [(ngModel)]="editObject.metaKeywords">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Featured for Home</label>
                        <div class="col-md-10">
                            <label class="switch switch-success">
                                <input name="featuredForHome" [(ngModel)]="editObject.featuredForHome" type="checkbox"
                                    value="true" class="switch-input">
                                <span class="switch-slider"></span>
                            </label>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                        (click)="editCatForm.reset()">Close</button>
                    <button type="submit" class="btn btn-success"
                        [disabled]="!editCatForm.form.valid || !editCatForm.dirty">Save
                        Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<br>

<div class="alert alert-success alert-dismissible fade show col-8" *ngIf="responseSuccess" role="alert">
    {{responseSuccess}}
    <button type="button" class="close" (click)="closeSuccess()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger alert-dismissible fade show col-8" *ngIf="responseError" role="alert">
    {{responseError}}
    <button type="button" class="close" (click)="closeError()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="d-flex justify-content-center vertical-center" *ngIf="!dataLoaded">
    <div class="spinner-grow text-info spnbg" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="animated fadeIn" *ngIf="dataLoaded">
    <div class="row">
        <div class="col">
            <div class="card">
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="p-4">Total Categories on your Website &nbsp; <span
                                class="badge badge-pill badge-dark text-white">{{catArray.length}}</span> </h3>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <form action="" method="post" class="form-inline pull-right widthWhole">
                            <div class="form-group widthWhole">
                                <label class="sr-only" for="searchBar">Search</label>
                                <input class="form-control" style="width: 87%" type="text" maxlength="30" id="searchBar"
                                    name="searchBar" placeholder="Search.." class="form-control">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row" style="margin-left: 45px">
                    <button type="button" class="btn btn-primary btn-sm">Copy</button>
                    <button type="button" class="btn btn-primary btn-sm">CSV</button>
                    <button type="button" class="btn btn-primary btn-sm">Excel</button>
                    <button type="button" class="btn btn-primary btn-sm">PDF</button>
                    <button type="button" class="btn btn-primary btn-sm">Print</button>
                </div>

                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sr</th>
                                <th>Name</th>
                                <th>Slug</th>
                                <th>Feature</th>
                                <th>Slider</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of catArray | keyvalue;index as i">
                                <td>{{i+this.skipNo+1}}</td>
                                <td>{{category.value.name}}</td>
                                <td>{{category.value.slug}}</td>
                                <td>
                                    <span *ngIf="category.value.featuredForHome"
                                        class="badge badge-success largeBadge">Featured</span>

                                    <span *ngIf="!category.value.featuredForHome"
                                        class="badge badge-dark largeBadge">Disabled</span>
                                </td>
                                <td>true</td>
                                <td>
                                    <button type="button" class="btn btn-primary text-white"
                                        (click)="showDltModal(category.key)">Delete</button>
                                    &nbsp; &nbsp;<button type="button" class="btn btn-dark text-white"
                                        (click)="showEditModal(category.key,category.value)">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" (click)="prevFunc()">Prev</a></li>
                        <li class="page-item"><a class="page-link" (click)="nextFunc()">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>