<br>
<div class="alert alert-success alert-dismissible fade show col-8" *ngIf="responseSuccess" role="alert">
    {{responseSuccess}}
    <button type="button" class="close" (click)="closeSuccess()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger alert-dismissible fade show col-8" *ngIf="responseError" role="alert">
    {{responseError}}
    <button type="button" class="close" (click)="closeError()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="animated fadeIn">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link navList active" (click)="changeTab('slider1',$event)" role="tab" aria-controls="slider1"
                aria-selected="true"><i class="icon-calendar"></i>&nbsp;&nbsp;&nbsp;Slider 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navList" (click)="changeTab('slider2',$event)" role="tab" aria-controls="slider2"
                aria-selected="false"><i class="icon-calendar"></i>&nbsp;&nbsp;&nbsp;Slider 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navList" (click)="changeTab('slider3',$event)" role="tab" aria-controls="slider3"
                aria-selected="false"><i class="icon-calendar"></i>&nbsp;&nbsp;&nbsp;Slider 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navList" (click)="changeTab('slider4',$event)" role="tab" aria-controls="slider4"
                aria-selected="false"><i class="icon-calendar"></i>&nbsp;&nbsp;&nbsp;Slider 4</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navList" (click)="changeTab('slider5',$event)" role="tab" aria-controls="slider5"
                aria-selected="false"><i class="icon-calendar"></i>&nbsp;&nbsp;&nbsp;Slider 5</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="slider1" role="tabpanel" aria-labelledby="slider1">
            <p class="display-4">Add Image for 1st Slide</p>
            <br>
            <form #addSlider1="ngForm" novalidate (ngSubmit)='uploadImageFirst(firstSlide,1)'>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="title">Link</label>
                    <div class="col-md-9">
                        <input type="text" name="link" [(ngModel)]="firstSlide.link" class="form-control" required
                            placeholder="...">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="input-group col">
                        <img [src]="croppedImage" class="marginAuto" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="imge">Image</label>
                    <div class="input-group col-md-8">
                        <div class="custom-file">
                            <input type="file" name="imge" (change)="fileChangeEvent($event)" required
                                [(ngModel)]="imgModel" class="custom-file-input" accept="image/x-png,image/jpeg"
                                aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">{{htmlContent}}{{imgModel}}</label>
                        </div>
                    </div>
                </div>

                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="2/1"
                    outputType="file" format="jpeg" (imageCropped)="imageCropped($event)" [resizeToWidth]="1600"
                    [resizeToHeight]="800"></image-cropper>

                <br>
                <br>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="assignedStore">
                        Select Store
                    </label>
                    <div class="col-md-9">
                        <select class="form-control form-control-lg" [disabled]="!stores" name="assignedStore"
                            [(ngModel)]="firstSlide.storeId" required>
                            <option [value]="item.value._id" *ngFor="let item of stores | keyvalue">
                                {{item.value.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group m-3">
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button type="submit" class="btn btn-lg btn-dark" [disabled]="!addSlider1.form.valid">
                        <span *ngIf="trickyArr[1]" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        &nbsp; Add Slide</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="slider2" role="tabpanel" aria-labelledby="slider2">
            <p class="display-4">Add Image for 2nd Slide</p>
            <br>
            <form #addSlider2="ngForm" novalidate (ngSubmit)='uploadImageFirst(secondSlide,2)'>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="title">Link</label>
                    <div class="col-md-9">
                        <input type="text" name="link" [(ngModel)]="secondSlide.link" class="form-control" required
                            placeholder="...">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="input-group col">
                        <img [src]="croppedImage" class="marginAuto" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="imge">Image</label>
                    <div class="input-group col-md-8">
                        <div class="custom-file">
                            <input type="file" name="imge" (change)="fileChangeEvent($event)" required
                                [(ngModel)]="imgModel2" aria-describedby="inputGroupFileAddon01"
                                class="custom-file-input" accept="image/x-png,image/jpeg">
                            <label class="custom-file-label" for="inputGroupFile01">{{htmlContent}}{{imgModel2}}</label>
                        </div>
                    </div>
                </div>

                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="2/1"
                    outputType="file" format="jpeg" (imageCropped)="imageCropped($event)" [resizeToWidth]="1600"
                    [resizeToHeight]="800"></image-cropper>

                <br>
                <br>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="assignedStore">
                        Select Store
                    </label>
                    <div class="col-md-9">
                        <select class="form-control form-control-lg" [disabled]="!stores" name="assignedStore"
                            [(ngModel)]="secondSlide.storeId" required>
                            <!-- <option value=""></option> -->
                            <option [value]="item.value._id" *ngFor="let item of stores | keyvalue">
                                {{item.value.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group m-3">
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button type="submit" class="btn btn-lg btn-dark" [disabled]="!addSlider2.form.valid">
                        <span *ngIf="trickyArr[2]" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        &nbsp; Add Slide</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="slider3" role="tabpanel" aria-labelledby="slider3">
            <p class="display-4">Add Image for 3rd Slide</p>
            <br>
            <form #addSlider3="ngForm" novalidate (ngSubmit)='uploadImageFirst(thirdSlide,3)'>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="title">Link</label>
                    <div class="col-md-9">
                        <input type="text" name="link" [(ngModel)]="thirdSlide.link" class="form-control" required
                            placeholder="...">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="input-group col">
                        <img [src]="croppedImage" class="marginAuto" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="imge">Image</label>
                    <div class="input-group col-md-8">
                        <div class="custom-file">
                            <input type="file" name="imge" (change)="fileChangeEvent($event)" required
                                [(ngModel)]="imgModel3" class="custom-file-input" accept="image/x-png,image/jpeg">
                            <label class="custom-file-label" for="inputGroupFile01">{{htmlContent}}{{imgModel3}}</label>
                        </div>
                    </div>
                </div>

                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="2/1"
                    outputType="file" format="jpeg" (imageCropped)="imageCropped($event)" [resizeToWidth]="1600"
                    [resizeToHeight]="800"></image-cropper>

                <br>
                <br>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="assignedStore">
                        Select Store
                    </label>
                    <div class="col-md-9">
                        <select class="form-control form-control-lg" [disabled]="!stores" name="assignedStore"
                            [(ngModel)]="thirdSlide.storeId" required>
                            <!-- <option value=""></option> -->
                            <option [value]="item.value._id" *ngFor="let item of stores | keyvalue">
                                {{item.value.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group m-3">
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button type="submit" class="btn btn-lg btn-dark" [disabled]="!addSlider3.form.valid">
                        <span *ngIf="trickyArr[3]" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        &nbsp; Add Slide</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="slider4" role="tabpanel" aria-labelledby="slider4">
            <p class="display-4">Add Image for 4th Slide</p>
            <br>
            <form #addSlider4="ngForm" novalidate (ngSubmit)='uploadImageFirst(fourthSlide,4)'>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="title">Link</label>
                    <div class="col-md-9">
                        <input type="text" name="link" [(ngModel)]="fourthSlide.link" class="form-control" required
                            placeholder="...">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="input-group col">
                        <img [src]="croppedImage" class="marginAuto" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="imge">Image</label>
                    <div class="input-group col-md-8">
                        <div class="custom-file">
                            <input type="file" name="imge" (change)="fileChangeEvent($event)" required
                                [(ngModel)]="imgModel4" class="custom-file-input" accept="image/x-png,image/jpeg">
                            <label class="custom-file-label" for="inputGroupFile01">{{htmlContent}}{{imgModel4}}</label>
                        </div>
                    </div>
                </div>

                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="2/1"
                    outputType="file" format="jpeg" (imageCropped)="imageCropped($event)" [resizeToWidth]="1600"
                    [resizeToHeight]="800"></image-cropper>

                <br>
                <br>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="assignedStore">
                        Select Store
                    </label>
                    <div class="col-md-9">
                        <select class="form-control form-control-lg" [disabled]="!stores" name="assignedStore"
                            [(ngModel)]="fourthSlide.storeId" required>
                            <!-- <option value=""></option> -->
                            <option [value]="item.value._id" *ngFor="let item of stores | keyvalue">
                                {{item.value.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group m-3">
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button type="submit" class="btn btn-lg btn-dark" [disabled]="!addSlider4.form.valid">
                        <span *ngIf="trickyArr[4]" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        &nbsp; Add Slide</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="slider5" role="tabpanel" aria-labelledby="slider5">
            <p class="display-4">Add Image for 5th Slide</p>
            <br>
            <form #addSlider5="ngForm" novalidate (ngSubmit)='uploadImageFirst(fifthSlide,5)'>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="title">Link</label>
                    <div class="col-md-9">
                        <input type="text" name="link" [(ngModel)]="fifthSlide.link" class="form-control" required
                            placeholder="...">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="input-group col">
                        <img [src]="croppedImage" class="marginAuto" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="imge">Image</label>
                    <div class="input-group col-md-8">
                        <div class="custom-file">
                            <input type="file" name="imge" (change)="fileChangeEvent($event)" required
                                [(ngModel)]="imgModel5" class="custom-file-input" accept="image/x-png,image/jpeg">
                            <label class="custom-file-label" for="inputGroupFile01">{{htmlContent}}{{imgModel5}}</label>
                        </div>
                    </div>
                </div>

                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="2/1"
                    outputType="file" format="jpeg" (imageCropped)="imageCropped($event)" [resizeToWidth]="1600"
                    [resizeToHeight]="800"></image-cropper>

                <br>
                <br>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="assignedStore">
                        Select Store
                    </label>
                    <div class="col-md-9">
                        <select class="form-control form-control-lg" [disabled]="!stores" name="assignedStore"
                            [(ngModel)]="fifthSlide.storeId" required>
                            <!-- <option value=""></option> -->
                            <option [value]="item.value._id" *ngFor="let item of stores | keyvalue">
                                {{item.value.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group m-3">
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button type="submit" class="btn btn-lg btn-dark" [disabled]="!addSlider5.form.valid">
                        <span *ngIf="trickyArr[5]" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        &nbsp; Add Slide</button>
                </div>
            </form>
        </div>
    </div>
</div>