<br>

<div class="animated fadeIn">

    <div class="col">
        <div class="card">
            <br>
            <div class="row">

                <div class="col-sm-6">
                    <h2 class="p-4">Total Users on your Website &nbsp; <span
                            class="badge badge-pill badge-info text-white">1</span> </h2>
                </div>

                <div class="col-sm-1"></div>

                <div class="col-sm-5">
                    <form action="" method="post" class="form-inline pull-right widthWhole">
                        <div class="form-group widthWhole">
                            <label class="sr-only" for="searchBar">Search</label>
                            <input class="form-control" style="width: 87%" type="text" maxlength="30" id="searchBar"
                                name="searchBar" placeholder="Search.." class="form-control">
                        </div>
                    </form>
                </div>
            </div>

            <div class="row" style="margin-left: 45px">
                <button type="button" class="btn btn-primary btn-sm">Copy</button>
                <button type="button" class="btn btn-primary btn-sm">CSV</button>
                <button type="button" class="btn btn-primary btn-sm">Excel</button>
                <button type="button" class="btn btn-primary btn-sm">PDF</button>
                <button type="button" class="btn btn-primary btn-sm">Print</button>
            </div>


            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sr</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Status</th>
                            <th>Network</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Danish</td>
                            <td>JAcking 9</td>
                            <td>
                                <span class="badge badge-success largeBadge">Active</span>
                            </td>
                            <td>LinkShare</td>
                            <td>
                                <button type="button" class="btn btn-success">Delete</button>
                                &nbsp; &nbsp;<button type="button" class="btn btn-info text-white">Edit</button>
                                &nbsp; &nbsp;<button type="button" class="btn btn-dark">Disable</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>