.customFontSize{
    font-size: 3.3em;
    font-weight: 0.6em
}
.customIconSize{
    font-size: 3.8em
}
.customDetailSize{
    font-size: 1.4em
}
.customBtnSize{
    font-size: 2em;
    font-weight: 0.5em
}
.card:hover{
    cursor: grabbing;
}