<br>
<div class="animated fadeIn">
    <div class="alert alert-success alert-dismissible fade show col-8" *ngIf="responseSuccess" role="alert">
        {{responseSuccess}}
        <button type="button" class="close" (click)="closeSuccess()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show col-8" *ngIf="responseError" role="alert">
        {{responseError}}
        <button type="button" class="close" (click)="closeError()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Add Category
                </div>
                <div class="card-body">
                    <form #addCatForm="ngForm" novalidate (ngSubmit)='createCategory(catData)'>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" name="name" [(ngModel)]="catData.catName" #catName="ngModel"
                                    class="form-control" placeholder="Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope-open-o"></i></span>
                                </div>
                                <input type="text" name="slug" [(ngModel)]="catData.catSlug" #catSlug="ngModel"
                                    class="form-control" placeholder="Slug*" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope-open-o"></i></span>
                                </div>
                                <input type="text" name="metaTitle" [(ngModel)]="catData.catMetaTitle"
                                    #catMetaTitle="ngModel" class="form-control" placeholder="Meta Title*" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-drivers-license-o"></i></span>
                                </div>
                                <input type="text" name="MetaDescription" [(ngModel)]="catData.catMetaDescription"
                                    #catMetaDescription="ngModel" class="form-control" placeholder="Meta Description*"
                                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-credit-card-alt"></i></span>
                                </div>
                                <input type="text" name="MetaKeywords" [(ngModel)]="catData.catMetaKeywords"
                                    #catMetaKeywords="ngModel" class="form-control" placeholder="Meta Keywords*"
                                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Featured for Home</label>
                            <div class="col-md-10">
                                <label class="switch switch-success">
                                    <input type="checkbox" name=featured [(ngModel)]="catData.catFeatured"
                                        #catFeatured="ngModel" value=true class="switch-input">
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <button type="submit" [disabled]="!addCatForm.form.valid" class="btn btn-dark">
                                <span *ngIf="isBusy" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                &nbsp; Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>