<br>
<div class="animated fadeIn addUserForm">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    Add Category
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" id="username" name="name" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope-open-o"></i></span>
                                </div>
                                <input type="text" id="pass" name="pass" class="form-control" placeholder="Slug*">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope-open-o"></i></span>
                                </div>
                                <input type="text" id="pass" name="metaTitle" class="form-control"
                                    placeholder="Meta Title*">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-drivers-license-o"></i></span>
                                </div>
                                <input type="text" id="pass" name="pass" class="form-control"
                                    placeholder="Meta Description*">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-credit-card-alt"></i></span>
                                </div>
                                <input type="text" id="pass" name="pass" class="form-control"
                                    placeholder="Meta Keywords*">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Featured for Home</label>
                            <div class="col-md-10">
                                <label class="switch switch-success">
                                    <input type="checkbox" class="switch-input" checked>
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <button type="button" class="btn btn-dark">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>