<br>
<div class="alert alert-success alert-dismissible fade show col-8" *ngIf="responseSuccess" role="alert">
    {{responseSuccess}}
    <button type="button" class="close" (click)="closeSuccess()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger alert-dismissible fade show col-8" *ngIf="responseError" role="alert">
    {{responseError}}
    <button type="button" class="close" (click)="closeError()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="animated fadeIn addUserForm">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <strong>Add Coupon</strong>
                </div>
                <div class="card-body">
                    <form #addCouponForm="ngForm" novalidate (ngSubmit)='addCoupon(couponInfo)'>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="offerBox">Offer Box</label>
                            <div class="col-md-9">
                                <input type="text" [(ngModel)]="couponInfo.offerBox" required name="offerBox"
                                    class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="offerDetail">Offer Details</label>
                            <div class="col-md-9">
                                <input type="text" [(ngModel)]="couponInfo.offerDetail" required name="offerDetail"
                                    class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <br>
                            <label class="col-md-3 col-form-label" for="assignedStore">
                                Choose Store
                            </label>
                            <div class="col-md-9">
                                <select class="form-control form-control-lg" [disabled]="!stores" name="assignedStore"
                                    [(ngModel)]="couponInfo.storeId" (change)="fetchTrackingLink(couponInfo.storeId)"
                                    required>
                                    <option [value]="item.value._id" *ngFor="let item of stores | keyvalue">
                                        {{item.value.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="expDate">Expiry Date</label>
                            <div class="col-md-9">
                                <input id="datepicker" class="form-control" [(ngModel)]="couponInfo.expDate" required
                                    type="date" name="expDate" placeholder="date">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="trackingLink">Tracking Link</label>
                            <div class="col-md-9">
                                <input type="text" [(ngModel)]="couponInfo.trackingLink" required name="trackingLink"
                                    class="form-control" placeholder="...">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Code</label>
                            <div class="col-md-9">
                                <input class="form-check-input"
                                    (change)="couponInfo.activeStatus=!couponInfo.activeStatus" type="radio"
                                    name="activeStatus" value="false">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Active</label>
                            <div class="col-md-9">
                                <input class="form-check-input"
                                    (change)="couponInfo.activeStatus=!couponInfo.activeStatus" type="radio"
                                    name="activeStatus" value="true" checked="checked">
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="!couponInfo.activeStatus">
                            <label class="col-md-3 col-form-label" for="code">Enter Code</label>
                            <div class="col-md-9">
                                <input type="text" [(ngModel)]="couponInfo.code" required name="code"
                                    class="form-control" placeholder="Enter code here..">
                            </div>
                        </div>

                        <div class="form-group m-3">
                            <label class="col-md-2 control-label" for="featuredForHome">Featured for Home</label>
                            <div class="col-md-10">
                                <label class="switch switch-success">
                                    <input type="checkbox" class="switch-input" name="featuredForHome"
                                        [(ngModel)]="couponInfo.featuredForHome">
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group m-3">
                            <label class="col-md-2 control-label" for="trending">Trending</label>
                            <div class="col-md-10">
                                <label class="switch switch-primary">
                                    <input type="checkbox" class="switch-input" name="trending"
                                        [(ngModel)]="couponInfo.trending">
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group m-3">
                            <label class="col-md-2 control-label" for="newArrival">New Arrival</label>
                            <div class="col-md-10">
                                <label class="switch switch-success">
                                    <input type="checkbox" class="switch-input" name="newArrival"
                                        [(ngModel)]="couponInfo.newArrival">
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group m-3">
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <button type="submit" class="btn btn-dark" [disabled]="!addCouponForm.form.valid">
                                <span *ngIf="isBusy" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                &nbsp; Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>