<br>

<div class="row">
    <div class="form-group col-5">
        <label for="userType">
            <h5>PLEASE SELECT STORE</h5>
        </label>
        <select data-placeholder="Choose" class="form-control form-control-lg" id="storeSelect">
            <option value="1"> Abc </option>
            <option value="2"> Xyz </option>
            <option value="2"> Abc </option>
            <option value="2"> Xyz </option>
        </select>
    </div>
</div>



<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card">
                <br>
                <div class="row">
                    <div class="col-sm-6" style="margin-left: 25px;">
                        <h2>Total Coupons on your Website &nbsp; <span
                                class="badge badge-pill badge-danger text-white">18</span> </h2>
                    </div>

                    <div class="col-sm-1"></div>

                    <div class="col-sm-4">
                        <form action="" method="post" class="form-inline pull-right widthWhole">
                            <div class="form-group widthWhole">
                                <label class="sr-only" for="searchBar">Search</label>
                                <input class="form-control" style="width: 87%" type="text" maxlength="30" id="searchBar"
                                    name="searchBar" placeholder="Search.." class="form-control">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row" style="margin-left: 45px">
                    <button type="button" class="btn btn-primary btn-sm">Copy</button>
                    <button type="button" class="btn btn-primary btn-sm">CSV</button>
                    <button type="button" class="btn btn-primary btn-sm">Excel</button>
                    <button type="button" class="btn btn-primary btn-sm">PDF</button>
                    <button type="button" class="btn btn-primary btn-sm">Print</button>
                </div>


                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sr</th>
                                <th>Offer</th>
                                <th>Offer Details</th>
                                <th>Feature</th>
                                <th>Store</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Danish</td>
                                <td>JAcking 9</td>
                                <td>
                                    <span class="badge badge-success largeBadge">Active</span>
                                </td>
                                <td>LinkShare</td>
                                <td>
                                    <button type="button" data-toggle="modal" data-target="#deleteModal"
                                        class="btn btn-primary text-white">Delete</button>
                                    &nbsp; &nbsp;<button type="button" data-toggle="modal" data-target="#editModal"
                                        class="btn btn-dark text-white">Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Danish</td>
                                <td>JAcking 9</td>
                                <td>
                                    <span class="badge badge-success largeBadge">Active</span>
                                </td>
                                <td>LinkShare</td>
                                <td>
                                    <button type="button" data-toggle="modal" data-target="#deleteModal"
                                        class="btn btn-primary text-white">Delete</button>
                                    &nbsp; &nbsp;<button type="button" data-toggle="modal" data-target="#editModal"
                                        class="btn btn-dark text-white">Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Danish</td>
                                <td>JAcking 9</td>
                                <td>
                                    <span class="badge badge-success largeBadge">Active</span>
                                </td>
                                <td>LinkShare</td>
                                <td>
                                    <button type="button" data-toggle="modal" data-target="#deleteModal"
                                        class="btn btn-primary text-white">Delete</button>
                                    &nbsp; &nbsp;<button type="button" data-toggle="modal" data-target="#editModal"
                                        class="btn btn-dark text-white">Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Danish</td>
                                <td>JAcking 9</td>
                                <td>
                                    <span class="badge badge-success largeBadge">Active</span>
                                </td>
                                <td>LinkShare</td>
                                <td>
                                    <button type="button" data-toggle="modal" data-target="#deleteModal"
                                        class="btn btn-primary text-white">Delete</button>
                                    &nbsp; &nbsp;<button type="button" data-toggle="modal" data-target="#editModal"
                                        class="btn btn-dark text-white">Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Danish</td>
                                <td>JAcking 9</td>
                                <td>
                                    <span class="badge badge-success largeBadge">Active</span>
                                </td>
                                <td>LinkShare</td>
                                <td>
                                    <button type="button" data-toggle="modal" data-target="#deleteModal"
                                        class="btn btn-primary text-white">Delete</button>
                                    &nbsp; &nbsp;<button type="button" data-toggle="modal" data-target="#editModal"
                                        class="btn btn-dark text-white">Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Danish</td>
                                <td>JAcking 9</td>
                                <td>
                                    <span class="badge badge-success largeBadge">Active</span>
                                </td>
                                <td>LinkShare</td>
                                <td>
                                    <button type="button" data-toggle="modal" data-target="#deleteModal"
                                        class="btn btn-primary text-white">Delete</button>
                                    &nbsp; &nbsp;<button type="button" data-toggle="modal" data-target="#editModal"
                                        class="btn btn-dark text-white">Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Danish</td>
                                <td>JAcking 9</td>
                                <td>
                                    <span class="badge badge-success largeBadge">Active</span>
                                </td>
                                <td>LinkShare</td>
                                <td>
                                    <button type="button" data-toggle="modal" data-target="#deleteModal"
                                        class="btn btn-primary text-white">Delete</button>
                                    &nbsp; &nbsp;<button type="button" data-toggle="modal" data-target="#editModal"
                                        class="btn btn-dark text-white">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <div class="container">

        <!-- <div class="modal fade" id="abcModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Coupon</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" (click)="saveEditedCoupon()">Save</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="deleteddfModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Coupon</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure You want to delete this Coupon?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" (click)="deleteCoupon()">Delete</button>
                </div>
            </div>

        </div>
    </div> -->
    </div>


    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Coupon</h4>
                    <button type="button" class="close" id="closebtn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure You want to delete this Coupon?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" (click)="deleteCoupon()">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <span style="font-size:1.35em">Edit Coupon: Get 10% off on this</span>
                        <br>
                        <span>Coupon Active: &nbsp; <strong>false</strong></span>
                    </div>
                    <button type="button" class="close" id="editbtn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="company">Offer</label>
                        <input type="text" class="form-control" id="company" placeholder="Offer name">
                    </div>
                    <div class="form-group">
                        <label for="company">Offer Details</label>
                        <input type="text" class="form-control" id="company" placeholder="Offer name">
                    </div>
                    <div class="form-group">
                        <label for="company">Tracking URL</label>
                        <input type="text" class="form-control" id="company" placeholder="Offer name">
                    </div>
                    <div class="form-group">
                        <label for="company">Expiry</label>
                        <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
                    </div>
                    <div class="form-group">
                        <label for="company">Choose Store</label>
                        <div>
                            <select id="select1" name="select1" class="form-control">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Code</label>
                        <div class="col-md-9">
                            <input class="form-check-input" checked="radioInput" (change)="handleCodeInput()"
                                type="radio" name="inlineRadioOptions" id="inlineRadio1" value="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Active</label>
                        <div class="col-md-9">
                            <input class="form-check-input" checked="!radioInput" (change)="handleCodeInput()"
                                type="radio" name="inlineRadioOptions" id="inlineRadio2" value="false">
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="radioInput">
                        <label class="col-md-3 col-form-label" for="text-input">Enter Code</label>
                        <div class="col-md-9">
                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="...">
                        </div>
                    </div>
                    <div class="form-group m-3">
                        <label class="col-md-4 control-label">Featured for Home</label>
                        <div class="col-md-6">
                            <label class="switch switch-success">
                                <input type="checkbox" class="switch-input">
                                <span class="switch-slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" (click)="saveEditedCoupon()">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>