<br>
<div class="alert alert-success alert-dismissible fade show col-8" *ngIf="responseSuccess" role="alert">
    {{responseSuccess}}
    <button type="button" class="close" (click)="closeSuccess()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger alert-dismissible fade show col-8" *ngIf="responseError" role="alert">
    {{responseError}}
    <button type="button" class="close" (click)="closeError()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="row" *ngIf="storeArray">
    <div class="form-group">
        <label for="userType">
            <h5>PLEASE SELECT STORE</h5>
        </label>
        <select class="form-control" [(ngModel)]="selectedStore" (change)="loadCoupons(selectedStore,$event)">
            <option [value]="data.value._id" *ngFor="let data of storeArray | keyvalue">
                {{data.value.name}}
            </option>
        </select>
    </div>
</div>

<div class="d-flex justify-content-center vertical-center" *ngIf="!storeArray">
    <div class="spinner-grow text-info spnbg" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="animated fadeIn" *ngIf="dataLoaded">
    <div class="row">
        <div class="col">
            <div class="card">
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="p-4">Total Coupons on your Website <span
                                class="badge badge-pill badge-danger text-white">{{couponCount}}</span> </h2>
                    </div>
                    <!-- <div class="col-sm-1"></div> -->
                    <div class="col-sm-6">
                        <form class="form-inline pull-right widthWhole">
                            <div class="form-group widthWhole">
                                <label class="sr-only" for="searchBar">Search</label>
                                <input class="form-control" [(ngModel)]="searchFiled" style="width: 87%" type="text"
                                    maxlength="30" id="searchBar" name="searchBar" placeholder="Search.."
                                    class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" style="margin-left: 45px">
                    <button type="button" class="btn btn-primary btn-sm">Copy</button>
                    <button type="button" class="btn btn-primary btn-sm">CSV</button>
                    <button type="button" class="btn btn-primary btn-sm">Excel</button>
                    <button type="button" class="btn btn-primary btn-sm">PDF</button>
                    <button type="button" class="btn btn-primary btn-sm">Print</button>
                </div>
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sr</th>
                                    <th>Offer</th>
                                    <th>Offer Details</th>
                                    <th>Feature</th>
                                    <th>Store</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="!coupons.length">
                                    <br>
                                    <p class="display-6">
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                        No coupon in this Store</p>
                                </tr>
                                <tr *ngFor="let coupon of coupons | keyvalue;index as i">
                                    <td>{{i+this.skipNo+1}}</td>
                                    <td>{{coupon.value.offerBox}}</td>
                                    <td>{{coupon.value.offerDetail}}</td>
                                    <td>
                                        <span *ngIf="coupon.value.activeStatus"
                                            class="badge badge-success largeBadge">Active</span>

                                        <span *ngIf="!coupon.value.activeStatus"
                                            class="badge badge-dark largeBadge">Disabled</span>
                                    </td>
                                    <td>{{selectedStoreName}}</td>
                                    <td>
                                        <button type="button" (click)="showDltModal(coupon.key)"
                                            class="btn btn-primary text-white">Delete</button>
                                        &nbsp; &nbsp;<button type="button"
                                            (click)="showEditModal(coupon.key,coupon.value)"
                                            class="btn btn-dark text-white">Edit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" (click)="prevFunc()">Prev</a></li>
                        <li class="page-item"><a class="page-link" (click)="nextFunc()">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Coupon</h4>
                    <button type="button" class="close" id="closebtn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure You want to delete this Coupon?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" (click)="deleteCoupon()">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <span style="font-size:1.35em">Edit Coupon: {{editObject.offerBox}}</span>
                        <br>
                        <span>Coupon Active: &nbsp; <strong>{{editObject.activeStatus}}</strong></span>
                    </div>
                    <button type="button" class="close" id="editbtn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <form #editCouponForm="ngForm" novalidate (ngSubmit)='saveEditedCoupon(editObject)'>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="offerBox">Offer</label>
                            <input type="text" class="form-control" name="offerBox" required
                                [(ngModel)]="editObject.offerBox">
                        </div>
                        <div class="form-group">
                            <label for="offerDetail">Offer Details</label>
                            <input type="text" class="form-control" name="offerDetail" required
                                [(ngModel)]="editObject.offerDetail">
                        </div>

                        <div class="form-group">
                            <label for="storeId">Choose Store</label>
                            <div>
                                <select id="select1" class="form-control" name="storeId" required
                                    [(ngModel)]="editObject.storeId" (change)="fetchTrackingLink(editObject.storeId)">
                                    <option [value]="item.value._id" *ngFor="let item of storeArray | keyvalue">
                                        {{item.value.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="expDate">Expiry</label>
                            <input class="form-control" type="date" name="expDate" required
                                [(ngModel)]="editObject.expDate">
                        </div>

                        <div class="form-group">
                            <label for="trackingLink">Tracking URL</label>
                            <input type="text" class="form-control" name="trackingLink" required
                                [(ngModel)]="editObject.trackingLink">
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Code</label>
                            <div class="col-md-9">
                                <input class="form-check-input" checked="radioInput"
                                    (change)="editObject.activeStatus=!editObject.activeStatus" type="radio"
                                    name="activeStatus" value="false" [checked]="!editObject.activeStatus">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Active</label>
                            <div class="col-md-9">
                                <input class="form-check-input"
                                    (change)="editObject.activeStatus=!editObject.activeStatus" type="radio"
                                    name="activeStatus" value="true" [checked]="editObject.activeStatus">
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="!editObject.activeStatus">
                            <label class="col-md-3 col-form-label" for="code">Enter Code</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" required name="code"
                                    [(ngModel)]="editObject.code">
                            </div>
                        </div>
                        <div class="form-group m-3">
                            <label class="col-md-4 control-label">Featured for Home</label>
                            <div class="col-md-6">
                                <label class="switch switch-success">
                                    <input type="checkbox" class="switch-input" name="featuredForHome"
                                        [(ngModel)]="editObject.featuredForHome">
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success"
                            [disabled]="!editCouponForm.form.valid || !editCouponForm.dirty">
                            <span *ngIf="isBusy" class="spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                            &nbsp; Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>