<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Coupon</h4>
                <button type="button" class="close" id="closebtn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure You want to delete this Coupon?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-dark" (click)="deleteBlog()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <span style="font-size:1.35em">Edit blog: {{editObject.title}}</span>
                </div>
                <button type="button" class="close" id="editbtn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #editBlogForm="ngForm" novalidate (ngSubmit)='saveEditedBlog(editObject)'>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="title">Title</label>
                        <div class="col-md-9">
                            <input type="text" name="title" [(ngModel)]="editObject.title" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="shortDes">Short Description</label>
                        <div class="col-md-9">
                            <app-ngx-editor required name="shortDes" [(ngModel)]="editObject.shortDes"
                                minHeight="160px">
                            </app-ngx-editor>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="longDes">Long Description</label>
                        <div class="col-md-9">
                            <app-ngx-editor required name="longDes" [(ngModel)]="editObject.longDes" minHeight="160px">
                            </app-ngx-editor>
                        </div>
                    </div>

                    <div class="text-center">
                        <div class="form-group row">
                            <div class="input-group col-md-6">
                                <img [src]="editObject.img" />
                            </div>
                        </div>
                        <br>
                        <!-- <div class="form-group row" *ngIf="croppedImage">
                        <div class="input-group col-md-8">
                            <img [src]="croppedImage" />
                        </div>
                    </div> -->
                        <div class="card col-md-6" *ngIf="croppedImage" style="width: 200px">
                            <div class="form-group row">
                                <div class="input-group">
                                    <img [src]="croppedImage" />
                                </div>
                            </div>
                            <div class="card-body p-0 text-center">
                                <button class="btn btn-danger" (click)="clearCroppedImage()">Clear</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="imge">Image</label>
                        <div class="input-group col-md-8">
                            <div class="custom-file">
                                <input type="file" name="imge" (change)="fileChangeEvent($event)" [(ngModel)]="imgModel"
                                    class="custom-file-input" accept="image/x-png,image/jpeg"
                                    aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label"
                                    for="inputGroupFile01">{{htmlContent}}{{imgModel}}</label>
                            </div>
                        </div>
                    </div>


                    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                        [aspectRatio]="1/1" outputType="file" [resizeToWidth]="200" [resizeToHeight]="200" format="jpeg"
                        (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                        (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="imgAlt">Image Alt</label>
                        <div class="col-md-9">
                            <input type="text" name="imgAlt" [(ngModel)]="editObject.imgAlt" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="metaTitle">Meta Title</label>
                        <div class="col-md-9">
                            <input type="text" name="metaTitle" [(ngModel)]="editObject.metaTitle" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="metaDes">Meta Description</label>
                        <div class="col-md-9">
                            <input type="text" name="metaDes" [(ngModel)]="editObject.metaDes" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <br>
                        <label class="col-md-3 col-form-label" for="assignedStore">
                            Select Store
                        </label>
                        <div class="col-md-9">
                            <select class="form-control form-control-lg" [disabled]="!stores" name="assignedStore"
                                [(ngModel)]="editObject.storeId" required>
                                <!-- <option value=""></option> -->
                                <option [value]="item.value._id" *ngFor="let item of stores | keyvalue">
                                    {{item.value.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group m-3">
                        <label class="col-md-2 control-label">Featured for Home</label>
                        <div class="col-md-10">
                            <label class="switch switch-primary">
                                <input type="checkbox" value=true name="featuredForHome"
                                    [(ngModel)]="editObject.featuredForHome" class="switch-input">
                                <span class="switch-slider"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                        (click)="editBlogForms.reset()">Close</button>
                    <button type="submit" class="btn btn-success"
                        [disabled]="!editBlogForm.form.valid || !editBlogForm.dirty">Save
                        Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<br>


<div class="animated fadeIn">
    <div class="alert alert-success alert-dismissible fade show col-8" *ngIf="responseSuccess" role="alert">
        {{responseSuccess}}
        <button type="button" class="close" (click)="closeSuccess()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show col-8" *ngIf="responseError" role="alert">
        {{responseError}}
        <button type="button" class="close" (click)="closeError()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <br>
                <div class="row">

                    <div class="col-sm-6">
                        <h3 class="p-4">Total Categories on your Website &nbsp; <span
                                class="badge badge-pill badge-dark text-white">10</span> </h3>
                    </div>

                    <div class="col-sm-1"></div>

                    <div class="col-sm-5">
                        <form action="" method="post" class="form-inline pull-right widthWhole">
                            <div class="form-group widthWhole">
                                <label class="sr-only" for="searchBar">Search</label>
                                <input class="form-control" style="width: 87%" type="text" maxlength="30" id="searchBar"
                                    name="searchBar" placeholder="Search.." class="form-control">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row" style="margin-left: 45px">
                    <button type="button" class="btn btn-primary btn-sm">Copy</button>
                    <button type="button" class="btn btn-primary btn-sm">CSV</button>
                    <button type="button" class="btn btn-primary btn-sm">Excel</button>
                    <button type="button" class="btn btn-primary btn-sm">PDF</button>
                    <button type="button" class="btn btn-primary btn-sm">Print</button>
                </div>


                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sr</th>
                                <th>Name</th>
                                <th>Short Description</th>
                                <th>Featured</th>
                                <th>Image</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr *ngFor="let blog of catArray"> -->
                            <tr *ngFor="let blog of blogArray | keyvalue;index as i">
                                <td>{{i+this.skipNo+1}}</td>
                                <td>{{blog.value.title}}</td>
                                <td>{{blog.value.shortDes}}</td>
                                <td>
                                    <span *ngIf="blog.value.featuredForHome"
                                        class="badge badge-success largeBadge">Featured</span>

                                    <span *ngIf="!blog.value.featuredForHome"
                                        class="badge badge-dark largeBadge">Disabled</span>
                                </td>
                                <td><img [src]="blog.value.img" width="55" height="55" /></td>
                                <td>
                                    <!-- <button type="button" class="btn btn-primary text-white" data-toggle="modal"
                                        data-target="#deleteModal">Delete</button> -->
                                    <button type="button" class="btn btn-dark text-white"
                                        (click)="showDltModal(blog.key)">Delete</button>
                                    &nbsp; &nbsp;<button type="button" class="btn btn-primary text-white"
                                        (click)="showEditModal(blog.key,blog.value)">Edit</button>
                                    <!-- &nbsp; &nbsp;<button type="button" data-toggle="modal" data-target="#editModal"
                                        class="btn btn-dark text-white">Edit</button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" (click)="prevFunc()">Prev</a></li>
                        <li class="page-item"><a class="page-link" (click)="nextFunc()">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>